h1{
    color:red;
}
h2{
    color:azure;
}
h3{
    color: brown;
}
h4{
    color: aquamarine;
}
h5{
    color: beige;
}
h6{
    color: blanchedalmond;
}
p{
    color:purple;
}
body{
    background-color:rgb(200,10,255);
}
button{
    color: black;
    background-color:brown;
}